*{
  font: garamond;
  color: white;
  background-color: grey;
}

p {
  font-family: 'Sunflower', sans-serif;
  display: flex;
  justify-content: center;
  padding: 15%;
  font-size: 100%;
}


a:hover {
  color: black;
  font-weight: bold;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: fixed;
  font-family: 'Sunflower', sans-serif;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  float: center;
  width: 100%;
  font-size: 110%;
  top: 0px;
}

.listNavigation {
  padding 10%;
  text-align: center;
  margin: 15px;
}

.contactForm {
  margin: auto;
  width: 75%;
  border: 2px solid white;
  display: block;
  font-family: 'Sunflower', sans-serif;
  padding: 20px;
  float: center;
}

input {
  background-color: white;
  color: black;
  font-family: 'Sunflower', sans-serif;
  width: 75%;
}


h1 {
  text-align: center;
  font-weight: bold;
  font-size: 75px;
  font-family: 'Raleway', sans-serif;
  top: 0;
  font-stretch: extra-expanded;
  padding-top: 20%;
}

h2 {
  font-family: 'Sunflower', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.portfolioImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 15px;
  box-shadow: 10px 5px lightgrey;
}

figcaption {
  text-align: center;
  font-family: 'Sunflower', sans-serif;
  font-size: 10%;
}

.aboutMeParagraph {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5%;
  padding: 10%;
  list-style-position: inside;
  font-size: 100%;
}

/*.meFacts {
  font-size: 25px:
  font-weight: bold;
  text-emphasis: underline;
}

.favBooks {
  font-size: 25px:
  font-weight: bold;
  text-emphasis: underline;
}
*/

ul {
  font-family: 'Sunflower', sans-serif;
}

ol {
  font-family: 'Sunflower', sans-serif;
}
/*
*/
