*{
  font: garamond;
  color: white;
  float: center;
  background-color: grey;
}

p {
  font-weight: 100;
  font-family: 'Sunflower', sans-serif;
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 25px;
}


a:hover {
  color: black;
  font-weight: bold;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: fixed;
  font-family: 'Sunflower', sans-serif;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  float: center;
  width: 100%;
  font-size: 30px;
  top: 0px;
}

.listNavigation {
  padding 100px;
  text-align: center;
  margin: 15px;
}

.contactForm {
  margin: auto;
  width: 300px;
  border: 20px white;
  display: block;
}

input {
  background-color: white;
  color: black;

}


h1 {
  text-align: center;
  font-weight: bold;
  font-size: 75px;
  font-family: 'Raleway', sans-serif;
  top: 0;
  font-stretch: extra-expanded;
  padding-top: 100px;
}

.factsAboutMe {
  float: center;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-family: 'Sunflower', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.portfolioImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 15px;
  box-shadow: 10px 5px lightgrey;
}

figcaption {
  text-align: center;
  font-family: 'Sunflower', sans-serif;
  font-size: 15px;
}

/*
*/
